/* Google Translate styles */

body > .skiptranslate {
    display: none;
}

body {
    top: 0px !important;
}

/* Google Adsense */

.sidebar {
    display: inline-block;
    width: 100%;
    height: 250px;
}

.header {
    display: inline-block;
    width: 728px;
    height: 90px;
}

@media (max-width: 1449px) {
    .header {
        display: none;
    }
}

/* one sidebar */
@media (min-width: 770px) and (max-width: 1399px) {
    .col-sidebar {
        top: 84px;
    }
}

/* two sidebars */
@media (min-width: 1200px) {
    .page-menu,
    .site-menu {
        top: 84px;
    }
}
