/* Google Translate styles */

body > .skiptranslate {
    display: none;
}

body {
    top: 0px !important;
}

/* one sidebar */
@media (min-width: 770px) and (max-width: 1399px) {
    .col-sidebar {
        top: 84px;
    }
}

/* two sidebars */
@media (min-width: 1200px) {
    .page-menu,
    .site-menu {
        top: 84px;
    }
}

/* Google Ads */

ins.adsbygoogle.jaylybanner {
    display: inline-block;
    width: 300px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

@media (min-width: 1000px) {
    ins.adsbygoogle.jaylyfooter {
        display: none !important;
    }
}

/* Footer styles */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.tsd-generator {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    padding-top: 0rem;
    padding-bottom: 0rem;
    max-height: max-content;
}

@media (min-width: 1024px) {
    .footer-container {
        flex-direction: row;
    }

    .tsd-generator {
        min-width: 400px;
    }
}