/* Google Translate styles */

body > .skiptranslate {
    display: none;
}

body {
    top: 0px !important;
}

/* Google Adsense */

ins.adsbygoogle.sidebar {
    display: inline-block;
    width: 300px;
    height: 250px;
}

@media (max-width: 770px) {
    ins.adsbygoogle.sidebar {
        display: inline-block;
        width: 100%;
        height: 280px;
    }
}

/* one sidebar */
@media (min-width: 770px) and (max-width: 1399px) {
    .col-sidebar {
        top: 84px;
    }
}

/* two sidebars */
@media (min-width: 1200px) {
    .page-menu,
    .site-menu {
        top: 84px;
    }
}
